In [26]:
import pandas as pd

In [34]:
dados = pd.read_csv('C:\\Users\\victo\\Documents\\GitHub\\Projeto-tratamento-de-dados\\movies_1980_2020_30k.csv', sep=',')
dados

,Title,Director,Genre,Release Date,Duration,Rating
0,Key entire popular.,Anthony Becker,Horror,1981-05-12,102,6.8
1,Gun husband reveal.,William Johnson,Documentary,2016-06-13,92,7.6
2,Crime cover.,Amy Le,Drama,1988-03-22,144,5.5
3,Challenge.,Andrea Martinez,Romance,2013-04-01,161,2.0
4,Close study.,Michael Rodgers,Fantasy,2012-10-18,177,3.7
...,...,...,...,...,...,...
29995,Daughter.,Richard Nelson,Romance,2007-03-12,177,8.0
29996,Simply.,Jeffrey Hatfield,Fantasy,2011-08-16,126,5.7
29997,Also authority nor.,Ryan Brown,Action,1998-05-07,73,4.9
29998,Total report upon.,Melissa Stephenson,Comedy,2008-06-06,145,6.9
29999,Shoulder above note.,Cathy Edwards,Horror,2015-10-19,85,6.3

In [35]:
Qtd = dados.value_counts() # Quantidade de cada linha verifica se há alguma repetida
Qtd

Title                    Director             Genre      Release Date  Duration  Rating
A admit despite.         Chelsea Leon         Adventure  2010-04-26    166       1.7       1
Professional painting.   Kelly Stephenson     Adventure  2017-06-01    107       6.4       1
Professional town city.  John Miller          Fantasy    1982-02-03    104       9.3       1
Professional this.       Crystal Phillips     Thriller   1993-03-20    164       3.4       1
Professional third.      Travis Pearson       Comedy     1988-01-22    66        3.2       1
                                                                                          ..
Form area president.     Elizabeth Poole      Sci-Fi     1987-04-01    157       3.2       1
Form along.              Ronald Smith         Comedy     2015-09-20    152       5.9       1
Form allow these above.  Clinton Christensen  Comedy     2014-08-06    144       3.8       1
Form add public.         Jonathan Riley       Sci-Fi     1991-06-19    110       7.6       1
Yourself.                Stacey Green         Romance    1990-05-28    128       3.7       1
Name: count, Length: 30000, dtype: int64

In [36]:
empty_columns = dados.isnull().all(axis=0) #Verifica se há alguma linha (axis=0) está vazia
print(empty_columns)

Title           False
Director        False
Genre           False
Release Date    False
Duration        False
Rating          False
dtype: bool

In [37]:
dados.dtypes #Checar o tipo de dados

Title            object
Director         object
Genre            object
Release Date     object
Duration          int64
Rating          float64
dtype: object

In [39]:
dados["Release Date"] =pd.to_datetime(dados["Release Date"])

In [40]:
dados.convert_dtypes().dtypes

Title           string[python]
Director        string[python]
Genre           string[python]
Release Date    datetime64[ns]
Duration                 Int64
Rating                 Float64
dtype: object

In [41]:
#dados.sort_values('Title') # coloca em ordem alfabetica de acordo com a coluna title
Tabela_Formatada = dados.sort_values('Title')
Tabela_Formatada

,Title,Director,Genre,Release Date,Duration,Rating
11038,A admit despite.,Chelsea Leon,Adventure,2010-04-26,166,1.7
8770,A agree.,Christopher Johnson,Thriller,1995-03-30,174,1.7
3309,A article well.,Joseph Anderson,Fantasy,2005-11-28,174,6.1
14954,A book.,Sherry Mitchell,Drama,2014-07-22,165,9.8
23934,A build bar.,Shaun Ballard,Thriller,2017-08-26,124,2.9
...,...,...,...,...,...,...
29744,Yourself yourself minute.,Stephanie Cruz,Fantasy,1988-08-24,100,4.4
22810,Yourself.,Jamie Patrick,Sci-Fi,2015-01-10,69,2.5
10723,Yourself.,Michael Aguilar,Horror,2006-07-02,112,4.3
20362,Yourself.,Lauren Taylor,Comedy,1988-08-05,91,8.5
28326,Yourself.,Stacey Green,Romance,1990-05-28,128,3.7